.container {
    column-width: 250px;
    column-gap: 20px;
  }
  
  .card {
    background-color: rgb(213, 207, 232);
    border: 2px solid rgb(158, 79, 227);
    padding: 10px;
    margin: 0 0 1em 0;
  }

  img {
    padding: 10px;
    margin: 0 0 1em 0;
    width: 250px;
    height: 250px;
  }